.auth__footer {
    text-align: center;
}

.auth__redirect {
    font-size: 1.2rem;
    font-weight: 500;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
