@import "../variables";

.home {
    padding: 1rem;
}

.home__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.home__title {
    margin: 2rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: #000;
}
