.notifier {
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 10;

    font-size: 1.2rem;
    font-weight: 700;
    font-family: inherit;
    line-break: anywhere;

    padding: 1rem;
    min-width: 10rem;
    max-width: 30rem;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 10px 3px rgba($color: #000000, $alpha: 0.4);

    transition: all .2s linear;
    transform: translateX(-50%);
}