.progress {
    position: relative;
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 1rem;
    width: 100%;
}

.progress__value {
    background: #fff;
    border-radius: 10rem;
    height: 1rem;
    width: 0;
}
