@import "../../styles/variables";

.leftbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: $leftbar-width;
    height: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    background-color: $bg-primary;
}

.leftbar__logo {
    text-align: center;
    margin-bottom: 2rem;
}

.leftbar__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

.leftbar__link {
    font-family: $ff-primary;
    font-size: 1.6rem;
    color: $primary;
    transition: color 0.2s linear;

    a {
        display: flex;
        align-items: center;
        gap: 1rem;

        font-family: inherit;
        text-decoration: none;
        color: inherit;
    }

    &:hover,
    &.active {
        color: #ffffff;
    }
}

.leftbar__footer {
    font-size: 1.8rem;
    font-weight: 400;
    color: $primary;
    margin-top: auto;
}
