/* Flex Helpers */
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.jc-c { // justify-content: center
    justify-content: center;
}

.jc-sb { // justify-content: space-between
    justify-content: space-between;
}

.flex-dir-column {
    flex-direction: column;
}

/* Gaps */
.gap10 {
    gap: 10px;
}

.gap5 {
    gap: 5px;
}

/* Text Helpers */
.text-align-center {
    text-align: center;
}

/* Other */
.--border-bottom {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
}