.form {
    background-color: #fff;
    width: 100%;
    max-width: 40rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 1rem;
}

/*
  Inputs
*/

.input-placeholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    &.--center {
        justify-content: center;
        align-items: center;
    }
}

.input {
    padding: 1rem;
    border: 1px solid #e1e1e1;
    width: 100%;
    max-width: 40rem;
    border-radius: 0.5rem;

    font-family: inherit;
    font-size: 1.4rem;
    color: #000;

    &.--small {
        padding: 0.5rem;
    }

    &::placeholder {
        font-family: inherit;
        color: #8692b2;
    }
}

.input-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*
  Labels
*/

.label {
    font-size: 1.4rem;
    font-family: inherit;

    &.--big {
        font-size: 1.6rem;
        color: #364760;
    }

    &.--small {
        font-size: 1.2rem;
    }
}
