/* Font-Family */
$ff-primary: "Montserrat", sans-serif;

/* BG Color */
$bg-primary: #444c63;
$bg-secondary: #fff;

/* Font Color */
$primary: #8692b2;
$secondary: #2f374b;
$placeholder: #bebebe;

/* Other */
$leftbar-width: 22rem;