@import "./variables";

/* Btn Wrappers */
.btn-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    &.--diagonal {
        flex-direction: column;
    }
}

/* Btn Extra's */
.btn.--font-small {
    font-size: 1.2rem;
}

.btn.--diagonal {
    flex-direction: column;
}

.btn.--filled {
    color: #fff;
    background-color: $bg-primary;

    &:hover,
    &.active {
        background-color: darken($bg-primary, 5%);
    }

    &:disabled {
        background: grey;
    }
}

.btn.--nofill {
    padding: 0;

    &:hover,
    &.active {
        color: #000;
        background: unset;

        svg {
            fill: #000
        }
    }

    &:disabled {
        color: grey;
        background: unset;

        svg {
            fill: grey;
        }
    }
}

.btn.--darken {
    background: darken($bg-primary, 5%);

    &:hover {
        background: darken($bg-primary, 7%);
    }
}

.btn.--justify-center {
    justify-content: center;
}

/* Standart Button */
.btn {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
    background: none;
    border: 0;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;

    color: $secondary;
    font-family: $ff-primary;
    font-size: 1.6rem;
    text-decoration: none;

    transition: all 0.2s linear;

    &:hover,
    &.active {
        color: #fff;
        background: $bg-primary;

        svg {
            fill: #fff;
        }
    }

    &:disabled {
        color: #fff;
        background-color: grey;

        svg {
            fill: grey;
        }
    }
}
