@import "./variables";
@import "./helpers";

html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

body {
  background: url(/bg.png) center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-height: 901px) {
    height: unset;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Container properties */
.main {
  position: relative;
  width: 100vw;
  max-width: 140rem;
  min-height: 911px;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(#000, 0.5);

  &.--small {
    max-width: 50rem;
    border-radius: 1rem;
    height: unset;
  }

  &.--padding {
    padding: 4rem 2rem;
  }
}

.container {
  padding-left: $leftbar-width;
  height: 100%;

  @media screen and (max-width: 767px) {
    padding-left: 50px;
  }
}

/* Misc */
.arrow {
  width: 8px;
  height: 8px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #d5daea;
  transform: rotate(-45deg) translateY(-50%);
}

@import "./buttons";
@import "./inputs";
@import "./forms";
@import "./labels";
