html,
body {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    background: url(/bg.png) center no-repeat;
    background-size: cover;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
  Misc
*/

.logo {
    text-align: center;
}

.arrow {
    width: 8px;
    height: 8px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #d5daea;
    transform: rotate(-45deg) translateY(-50%);
}

.upload-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
    background: none;
    border: 0;

    font-size: 1.6rem;
    color: grey;

    transition: color 0.2s linear;

    svg {
        fill: grey;
        transition: fill 0.2s linear;
    }

    &.available {
        color: #364760;

        svg {
            fill: #000;
        }

        &:hover {
            svg {
                transition: transform 0.3s linear;
                transform: scale(1.2);
            }
        }
    }
}

/*
  Container / Main properties
*/

.main {
    width: 100%;
    max-width: 140rem;
    height: 90vh;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-color: #fff;

    &.--small {
        max-width: 50rem;
        padding: 6rem 2rem;
        border-radius: 1rem;
        height: unset;
    }

    &.--center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.container {
    padding: 1rem;
    padding-left: 23rem;
    height: 100%;
}

@import "./buttons";
@import "./scrollbar";
@import "./inputs";
@import "./helpers";
